<!DOCTYPE html>
<html>
<head>
	<title>Result | Student Elections</title>
	
	{{> imports}}

	<link rel="stylesheet" type="text/css" href="results.css">
</head>
<body>
	{{> sidebar}}
	<div id="content">
		<div id="title-row">
			<div id="page-title">Results</div>
			<div class="spacer"></div>
			<a href="downloads/results.csv">Download</a>
		</div>
		<div id="search">
			<input autofocus
			list="search-autocomplete"
			type="text"
			id="searchbox" 
			placeholder="Search">
		</div>
		<datalist id="search-autocomplete">
			<option>TESt</option>
			<option>TESt2</option>
			<option>TESt3</option>
			<option>TESt4</option>
		</datalist>
	</div>
</body>
<script type="text/x-handlebars-template" id="table-template">
	<div>
		<h2>\{{position}}</h2>
		<table class="results-table">
			<thead>
				<tr>
					<th>Name</th>
					\{{#each candidates}}
					<th>\{{name}}</th>
					\{{/each}}
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Image</th>
					\{{#each candidates}}
					<th><img src="images/\{{image}}" width="140"></th>
					\{{/each}}
				</tr>
				<tr>
					<th>Student Votes</th>
					\{{#each candidates}}
					<td>\{{votes}}</td>
					\{{/each}}
				</tr>
				<tr>
					<th>Teacher Votes</th>
					\{{#each candidates}}
					<td>\{{teacherVotes}}</td>
					\{{/each}}
				</tr>
				<tr>
					<th>Management Votes</th>
					\{{#each candidates}}
					<td>\{{managementVotes}}</td>
					\{{/each}}
				</tr>
				<tr>
					<th>Total</th>
					\{{#each candidates}}
					<td>\{{total}}</td>
					\{{/each}}
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script>
	const tableTemplate = Handlebars.compile($("#table-template").html())
	let results = [],
	totalStudentVotes,
	totalFacultyVotes,
	facultyToStudentRatio,
	filter = ""
	axios.get('api/results')
	.then(response => response.data)
	.then(data => results = _.sortBy(data.positions, 'position'))
	.then(() => {
		totalStudentVotes = results.reduce((count,position) => {
			count = position.candidates.reduce((count, candidate) => {
				return count + candidate.votes
			}, 0)
			return count
		}, 0)
		totalFacultyVotes = results.reduce((count,position) => {
			count = position.candidates.reduce((count, candidate) => {
				return count + candidate.teacherVotes + candidate.managementVotes
			}, 0)
			return count
		}, 0)
		facultyToStudentRatio = totalStudentVotes/totalFacultyVotes
	})
	.then(createTables)

	function createTables() {
		let filterRegex
		if (filter) {
			filterRegex = new RegExp(filter, 'i')
		} else {
			filterRegex = new RegExp('.*')
		}
		$(".results-table").parent().remove()
		results
		.filter(position => filterRegex.test(position.position))
		.forEach(position => {
			position.colspan = position.candidates.length + 1

			position.candidates.forEach(c => 
				c.total = c.votes
				+(c.teacherVotes+c.managementVotes)
				*facultyToStudentRatio
			)
			position.candidates = _.orderBy(position.candidates, 'votes', 'desc')

			const table = $(tableTemplate(position))
			$('#content').append(table)
		})
	}
	$("#searchbox").on('keyup', () => {
		filter = $("#searchbox").val()
		createTables()
	})
</script>
</html>